body {
    font-size: 16px;
    line-height: 1.5;
    font-family: "Roboto", sans-serif;
    background-color: #1d2029;
    color: white;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
.container {
    max-width: 1350px;
    margin: 0 auto;
    padding: 0 32px;
}
.center {
    justify-content: center;
    align-items: center;
}
.wrap {
    flex-wrap: wrap;
}
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header {
    padding: 40px 0;
    background-color: #20232f;
    padding-bottom: 190px;
    position: absolute;
    width: 100%;
    top: 0;
    border-bottom-left-radius: 34px;
    border-bottom-right-radius: 34;
}
.header h1 {
    font-size: 35px;
}
.header h4 {
    font-size: 19px;
    color: #7f8cb2;
}
.button-container span {
    color: #7f8cb2;

}
.button {
    width: 78px;
    height: 33px;
    border-radius: 19px;
    background: linear-gradient( #3DB2B9,#3BD192);
    margin-left: 18px;
    padding-left: 9px;

}
.circle {
    width: 25px;
    height: 25px;
    background-color: #262C45;
    border-radius: 50%;
}
.main {
    margin-top: 120px;
}
.card-container {
    padding: 58px 0;
}
.card {
    background-color: #252C43;
    padding: 32px;
    text-align: center;
    width: 22%;
    color: #7f8cb2;
    position: relative;
    border-radius: 7px;

}
.card img {
    margin-right: 8px;


}
.card h2 {
    font-size: 62px;
    color: white;
    font-weight: 600;
    line-height: 1;
}
.card body {
    padding: 34px 0;
} 
.card-body p {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
    line-height: 1;
    margin-top: 5px;
}
.card-footer img {
    margin-right: 5px;
    width: 10px;

}
.card-footer span {
    color: #3bd192;
    font-size: 11px;
}
.card-footer .down {
    color: #c34f5f;
}
.border-top {
    width: 100%;
    height: 5px;
    background-color: #188FF5;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    border-top-left-radius: 7px ;
    border-top-right-radius: 7px;
}
.card-twitter .border-top {
  background-color:  #188FF5;;
   
}
.card-insta .border-top {
    background: linear-gradient(to right,#FAC26F, #c75992)
}
.card-youtube .border-top {
    background-color: #a21233;
}
.overview h2 {
    font-size: 36px;
    margin-bottom: 24px;
    font-weight: 700;
}
.overview-card {
    margin-top: 34px;
}
.overview-card .card-header {
    margin-bottom: 23px;

}
.overview-card img {
    width: 18px;


}
.overview-card h3 {
    font-size: 38px;
    color: white;
    font-weight: 600;
}
.overview-card span {
    font-size: 12px;
    color: #3bd192;
}
.overview-card .down {
    color: #c34f5f;
}